* {
    color: hsl(0, 0%, 100%);    
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    text-align: center;
    font-family: "Inter", sans-serif;
}

body {
    background-color: hsl(0, 0%, 8%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    background-color: hsl(0, 0%, 12%);
    height: 600px;
    width: 370px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 40px;
}

img {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    margin-bottom: 25px;
}

h2 {
    color: hsl(0, 0%, 100%);
    margin-bottom: 10px;
}

h5 {
    color: hsl(75, 94%, 57%);
    margin-bottom: 25px;
}

p {
    font-size: 14px;
    margin-bottom: 16px;
}

button {
    background-color: hsl(0, 0%, 20%);
    margin: 8px 0;
    padding: 14px 90px;
    border: none;
    border-radius: 10px;
    width: 100%;
}